@import "../variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: #fff;
    width: 100%;
    left: 0;
    height: $footer-height;
    position: absolute;
    bottom: 0;

    .link{
      text-decoration: underline;
      cursor: pointer;
      width: max-content;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin: 7.5px 30px;
      font-family: $font-primary;
    }
    
    .span{
      width: max-content;
      margin: auto;
      font-family: $font-copyright;
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      margin: 13px auto 26px auto;
    }
  }